In [1]:
!pip install scikit-learn==0.23.1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-learn==0.23.1
  Downloading scikit_learn-0.23.1-cp37-cp37m-manylinux1_x86_64.whl (6.8 MB)
     |████████████████████████████████| 6.8 MB 10.2 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.23.1) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.23.1) (3.1.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.23.1) (1.21.6)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.23.1) (1.4.1)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
yellowbrick 1.4 requires scikit-learn>=1.0.0, but you have scikit-learn 0.23.1 which is incompatible.
imbalanced-learn 0.8.1 requires scikit-learn>=0.24, but you have scikit-learn 0.23.1 which is incompatible.
Successfully installed scikit-learn-0.23.1

In [2]:
import pandas as pd
import pylab as pl
import numpy as np
import scipy.optimize as opt
from sklearn import preprocessing
%matplotlib inline 
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%203/data/ChurnData.csv")
display(df)

,tenure,age,address,income,ed,employ,equip,callcard,wireless,longmon,...,pager,internet,callwait,confer,ebill,loglong,logtoll,lninc,custcat,churn
0,11.0,33.0,7.0,136.0,5.0,5.0,0.0,1.0,1.0,4.40,...,1.0,0.0,1.0,1.0,0.0,1.482,3.033,4.913,4.0,1.0
1,33.0,33.0,12.0,33.0,2.0,0.0,0.0,0.0,0.0,9.45,...,0.0,0.0,0.0,0.0,0.0,2.246,3.240,3.497,1.0,1.0
2,23.0,30.0,9.0,30.0,1.0,2.0,0.0,0.0,0.0,6.30,...,0.0,0.0,0.0,1.0,0.0,1.841,3.240,3.401,3.0,0.0
3,38.0,35.0,5.0,76.0,2.0,10.0,1.0,1.0,1.0,6.05,...,1.0,1.0,1.0,1.0,1.0,1.800,3.807,4.331,4.0,0.0
4,7.0,35.0,14.0,80.0,2.0,15.0,0.0,1.0,0.0,7.10,...,0.0,0.0,1.0,1.0,0.0,1.960,3.091,4.382,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,55.0,44.0,24.0,83.0,1.0,23.0,0.0,1.0,0.0,17.35,...,0.0,0.0,0.0,1.0,0.0,2.854,3.199,4.419,3.0,0.0
196,34.0,23.0,3.0,24.0,1.0,7.0,0.0,1.0,0.0,6.00,...,0.0,0.0,1.0,1.0,0.0,1.792,3.332,3.178,3.0,0.0
197,6.0,32.0,10.0,47.0,1.0,10.0,0.0,1.0,0.0,3.85,...,0.0,0.0,1.0,1.0,0.0,1.348,3.168,3.850,3.0,0.0
198,24.0,30.0,0.0,25.0,4.0,5.0,0.0,1.0,1.0,8.70,...,1.0,1.0,1.0,1.0,1.0,2.163,3.866,3.219,4.0,1.0
199,61.0,50.0,16.0,190.0,2.0,22.0,1.0,1.0,1.0,16.85,...,0.0,1.0,0.0,0.0,1.0,2.824,3.240,5.247,2.0,0.0

In [4]:
churn_df = df[['tenure', 'age', 'address', 'income']]
churn_df['income'] = churn_df['income'].astype('int')
churn_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   tenure   age  address  income
0    11.0  33.0      7.0     136
1    33.0  33.0     12.0      33
2    23.0  30.0      9.0      30
3    38.0  35.0      5.0      76
4     7.0  35.0     14.0      80

In [5]:
X = np.asanyarray(churn_df[['tenure', 'age', 'address', 'income']])  # here we are converting the dataset into arrays
X[0:5]

array([[ 11.,  33.,   7., 136.],
       [ 33.,  33.,  12.,  33.],
       [ 23.,  30.,   9.,  30.],
       [ 38.,  35.,   5.,  76.],
       [  7.,  35.,  14.,  80.]])

In [6]:
y = np.asanyarray(df['churn'])
y [0:5]

array([1., 1., 0., 0., 0.])

In [7]:
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(X).transform(X)
X[0:5]

array([[-1.13518441, -0.62595491, -0.4588971 ,  0.4751423 ],
       [-0.11604313, -0.62595491,  0.03454064, -0.32886061],
       [-0.57928917, -0.85594447, -0.261522  , -0.35227817],
       [ 0.11557989, -0.47262854, -0.65627219,  0.00679109],
       [-1.32048283, -0.47262854,  0.23191574,  0.03801451]])

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (160, 4) (160,)
Test set: (40, 4) (40,)

In [9]:
from sklearn.linear_model import LogisticRegression  # .linear_model has both linear regression and logistic regression.
from sklearn.metrics import confusion_matrix
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
LR

LogisticRegression(C=0.01, solver='liblinear')

In [10]:
yhat = LR.predict(X_test)
yhat

array([0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0.,
       0., 0., 1., 1., 0., 0.])

In [11]:
yhat_prob = LR.predict_proba(X_test)
yhat_prob

array([[0.5977768 , 0.4022232 ],
       [0.56107912, 0.43892088],
       [0.50596735, 0.49403265],
       [0.58353634, 0.41646366],
       [0.54570682, 0.45429318],
       [0.50669861, 0.49330139],
       [0.51759306, 0.48240694],
       [0.54007336, 0.45992664],
       [0.47670896, 0.52329104],
       [0.60062903, 0.39937097],
       [0.64401478, 0.35598522],
       [0.64317531, 0.35682469],
       [0.44345131, 0.55654869],
       [0.49208001, 0.50791999],
       [0.57517166, 0.42482834],
       [0.55587005, 0.44412995],
       [0.59708117, 0.40291883],
       [0.56344291, 0.43655709],
       [0.57515736, 0.42484264],
       [0.51949283, 0.48050717],
       [0.57308371, 0.42691629],
       [0.59592059, 0.40407941],
       [0.60239628, 0.39760372],
       [0.58035783, 0.41964217],
       [0.53254911, 0.46745089],
       [0.66725746, 0.33274254],
       [0.5396121 , 0.4603879 ],
       [0.5646213 , 0.4353787 ],
       [0.48685578, 0.51314422],
       [0.67942928, 0.32057072],
       [0.65431275, 0.34568725],
       [0.57500975, 0.42499025],
       [0.48881482, 0.51118518],
       [0.69248468, 0.30751532],
       [0.58858902, 0.41141098],
       [0.61126968, 0.38873032],
       [0.46383106, 0.53616894],
       [0.48093106, 0.51906894],
       [0.68130202, 0.31869798],
       [0.55502881, 0.44497119]])

In [14]:
arr1=confusion_matrix(y_test, yhat)
print(arr1)

[[23  2]
 [10  5]]

In [15]:
#start here 
a=arr1[0,0]
b=arr1[0,1]
c=arr1[1,0]
d=arr1[1,1]

print("Accuracy is :",(a+d)/(a+b+c+d))

Accuracy is : 0.7